body {
  margin: 1.5em !important;
  background-color: #e5e1e1 !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.web-title {
  padding-bottom: 1em;
}

.card.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1em;

  > img {
    height: 4em;
    width: 4em;
  }
}

.card.file {
  margin-top: 1em;
  padding: 0.5em;
  > img {
    margin-bottom: 0.8em;
  }
  > .control {
    display: inline-block;
  }
  &.selected {
    border: 2px solid #3459e6;
  }
}